@import "mixins.scss";

$fuente: "Quattrocento", serif;
$fuenteTitulo: "Oswald", sans-serif;

$negro: #303030;
$blanco: #f6f6f6;
$gris: #909090;
$beige: #cac6bb;
$grisClaro: #efefee;

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: $fuente;
  font-size: 16px;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $grisClaro;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  nav {
    .menu {
      display: flex;
      gap: 30px;

      &__item {
        color: $negro;

        &:hover::after {
          content: "";
          display: block;
          width: 70%;
          height: 2px;
          margin-top: 10px;
          background-color: $beige;
        }
      }
    }
  }
  .logo {
    position: absolute;
    right: 50%;
  }
  .social {
    display: flex;
    gap: 20px;
  }
}

h1 {
  font-family: $fuenteTitulo;
  font-size: 84px;
  font-style: normal;
  font-weight: 500;
  line-height: 100px;
  text-align: center;
  margin: 40px 0;
  color: $negro;

  &::after {
    content: "";
    display: block;
    width: 5%;
    height: 3px;
    background-color: $beige;
    margin-top: 10px;
    margin-left: 30%;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 45% bottom 100%;
  background-size: 45%;
  padding-top: 70px;

  .services {
    width: 33%;

    h2 {
      font-family: $fuenteTitulo;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 100px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 30px;
      width: 50%;

      div {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
          box-shadow: 0px 24px 50px 0px rgba(13, 12, 56, 0.1);
        }
      }
      p {
        color: $gris;
        font-size: 18px;
      }
    }
  }

  .about {
    width: 28%;
    h2 {
      font-family: $fuenteTitulo;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 100px;
    }
    p {
      color: $gris;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      margin: 20px 0;
    }
    .btn {
      background-color: $negro;
      color: $blanco;
      padding: 10px 30px;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
    }
    .numbers{
      display: flex;
      margin-top: 60px;
      gap: 30px;

      &__item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h3{
          font-family: $fuenteTitulo;
          font-size: 32px;
        }
        p{
          margin: 0;
        }
      }

    }
  }
}
